{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %} {% endblock %}

{% block pageName %}
    <i class="fa fa-home"></i> Proforma
{% endblock %}

{% block pageSubs %}
    Order proforma template
{% endblock %}

{% block pageNav %}
    proforma
{% endblock %}

{% block pageContent %}


    <div class="col-sm-9">
        <p class="mb20"><a href="{% url 'man:proformaPDF' %}?order_id={{  order.id }}">Click Here</a> to get a printable version of this proforma</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="{% static 'images/MBG/header.jpg' %}"  width="800" alt=""/>
            </div>
            <!-- panel-body -->
            <div class="panel-body">
                <div class="row">
                    <span class="col-md-4">Email: {{ creator.email }}</span>
                    <span class="col-md-4">Tel: {{ creator.employee.phone_number }}</span>
                    <span class="col-md-4">Date: {{ calculated.DATE }}</span>
                </div>


                <div class="row">


                    <div class="col-md-12">
                        <br/>
                        <br/>
                        <b>
                        {{ order.client.company_name }}<br/>
                        Att: {{ order.client.contact_person }}<br/>
                        {{ order.client.address }}<br/>
                        {{ order.client.city }} - {{ order.client.country.name }}<br/>
                        Email: {{ order.client.email }}<br/>
                        </b>
                        <br/>
                        <br/>

                        <b>PROFORMA INVOICE NO: {{ order.order_number }} {{ order.order_truck_subscr }} {{ order.gfz_number }} </b><br/><br/>
                        We refer to your inquiry and are pleased to quote, based on our general terms and conditions of
                        delivery and sale as follows:
                        <br/>
                        <br/>
                         {{ order.man_truck_model }} {{ order.gfz_number }} <br/>
                         {{ order.order_truck_subscr }}<br/><br/>
                        <b>
                            <div>
                                <span>Offer price for 1 Unit, {{ order.duty_type.name }}</span>
                                <span class="pull-right"> $450000*** &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><br/><br/>
                            </div>
                            <div>

                                <span>Offer price for {{ order.quantity }} Unit{% if order.quantity > 1 %}s{% endif %},  {{ order.duty_type.name }}</span>
                                <span class="pull-right"> $450000 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><br/>
                            </div>
                        </b>
                        <br/>
                        <br/>

                    </div>

                    <div class="col-md-12">

                        <p><b>Prices:</b></p>

                        <p>Are net, in EURO and acc. to Incoterms, edition 2010.</p>
                        <br/>

                        <p><b>Delivery:</b></p>

                        <p>{{ order.estimated_delivery_time.name }} from receipt of firm order.</p>
                        `


                        <br/>

                        <p><b>Payment:</b></p>
                        100% out of an irrevocable letter of credit confirmed by a first class European Bank or by Bank Transfer.<br/>
                        All charges to debit of applicant .

                        <br/>
                        <br/>
                        <p><b>Guarantee:</b></p>
                        12 months unlimited mileage, or expiring 18 months after B/L date at the latest.<br/>
                        24 months or 200.000 km, or expiring 30 months after B/L date whatever comes first,<br/>
                        on the drive train (engine, gearbox, driven axles) only.

                        <br/><br/>
                        <p><b>NOTE: During the warranty period all servicing should be done by an authorized MAN dealer</b></p>
                        <br/><br/>

                        <p><b>Validity:</b></p>

                        <p>Valid till: {{ calculated.VALID }}</p>

                        <p>Yours Sincerely,</p>

                        <br/>

                        <span class="thumb"><img height="60px" src="{{ creator.employee.signature.url }}" alt=""/></span>
                        <span class="thumb"><img src="{% static 'images/MBG/stamp.png' %}" alt=""/></span>


                        <br/>

                        <p>{{ creator.first_name }} {{ creator.last_name }}</p>

                        <p>{{ creator.role }}</p>

                    </div>
                </div>

            </div>
            <!-- panel-body -->
            <div class="panel-footer">
                <img src="{% static 'images/MBG/footer.jpg' %}" width="800" alt=""/>
            </div>
            <!-- panel-footer -->
        </div>
        <!-- panel -->
    </div><!-- col-sm-6 -->

    </div><!-- row -->



{% endblock %}

{% block extra_js %} {% endblock %}

